BOT_TOKEN=8623128469:AAHPwDZv3bMlxJAdsO_HLc2rRWnAYLriLYY
ADMIN_USER_ID=8742969484
CHANNEL_ID=@your_channel_username
DOWNLOAD_DIR=./downloads
COOKIE_DIR=./secrets
DEFAULT_COOKIE_FILE=./secrets/default.txt
MAX_FILE_SIZE_MB=1900
YTDLP_TIMEOUT=900
